/* Estilos Gerais */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #333;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem;
}

h1 {
    color: #ffffff;
    margin-bottom: 2rem;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    margin-bottom: 2rem;
}

label {
    font-weight: 600;
}

input[type="text"] {
    padding: 0.75rem;
    border: 1px solid #b5b5b5ff;
    border-radius: 6px;
    font-size: 1rem;
    width: 250px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="text"]:focus {
    outline: none;
    border-color: #0969da;
    box-shadow: 0 0 0 3px rgba(9, 105, 218, 0.3);
}

button {
    padding: 0.75rem 1.5rem;
    background-color: #6e5494;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #7360dfff;
}

#user-profile {
    background-color: #fdfdfd;
    border-radius: 1rem; 
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.avatar {
    width: 4rem; 
    height: 4rem; 
    border-radius: 9999px;
}

.user-name {
    font-size: 1.25rem; 
    font-weight: 700; 
    margin: 0;
}

.profile-link {
    text-decoration: none;
    color: inherit; /* Herda a cor do elemento pai */
}

.profile-link:hover .user-name {
    text-decoration: underline;
}

.user-login {
    color: #4b5563;
    margin: 0;
}

.user-bio {
    margin: 0.5rem 0;
}

.repo-count {
    font-size: 0.875rem; 
    color: #6b7280; 
    margin: 0;
}


.container {
    width: 100%;
    max-width: 600px;
    overflow-y: auto ;
    scrollbar-width: none;
    max-height: 350px;
    border: 1px solid #2b2b2cff;
    border-radius: 0.5rem;
    
}

#repo-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
     display: column;
     text-align: center;
}

#repo-list li {
    padding: 0.75rem 0;
    border-bottom: 1px solid #6d6e6fff;
   
}

#repo-list li:last-child {
    border-bottom: none;
}

#repo-list a {
    text-decoration: none;
    color: #ffffffff;
    font-weight: 600;
     
}

#repo-list a:hover {
    text-decoration: underline;
}

@media (max-width: 640px) {
    body {
        padding: 1rem;
    }

    .search-container {
        flex-direction: column;
        align-items: stretch;
    }

    input[type="text"] {
        width: 100%;
    }

    button {
        width: 100%;
    }

    #user-profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}