h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


div{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}